*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color:#F1F4FF ;
}
.profile{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    border-radius: 20px;
    margin: 10px;
    padding: 50px;
    background-color: #fff ;
}
.desc{
    /* width: 100%; */
    flex-basis: 100%;
    text-align: center;
}

.desc img{
    border-radius: 50%;
}
.detail{
    display: flex;
    margin-top: 30px;
   width: 100%;
   justify-content: space-around;
   text-align: center;
}

.over-head h1, h4{
    display: inline;
}